body {

    background-color: #607d8b00;
    padding: 2%;
}
#printable-area {
    width: 456px;
    height: 256px;
}
.title {
    text-align: center;
    color: #2196F3;
}
@media print {

    #not-printable-area {
        display: none;
    }
}